language: go
go:
  - '1.12.x'
  # - tip
env:
  global:
    - GO111MODULE=on
sudo: false
branches:
  # only: master
  all_branches: true
script:
  - make test
# after_success:
  # - GO111MODULE=off go get github.com/goreleaser/goreleaser && goreleaser --rm-dist
deploy:
- provider: script
  skip_cleanup: true
  script: curl -sL https://git.io/goreleaser | bash
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = linux
