language: go
go:
  - "1.12.x"
  # - tip
env:
  global:
    - GO111MODULE=on
sudo: false
branches:
  only: master
script:
  - make test
after_success:
  - test -n "$TRAVIS_TAG" && curl -sL https://git.io/goreleaser | bash